.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    padding: 100px;
    border-radius: 8px;
    z-index: 999;
}

.popup-content {
    /* Estilos adicionais para o conteúdo do popup, se necessário */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
